<div class="page-auth" data-ng-init="init()">
  <div class="col-lg-offset-6 col-lg-6 col-md-offset-4 col-md-8 auth-form">
    <h2 class="col-md-offset-1">Login</h2>

    <form class="form-horizontal col-md-offset-1">
      <div class="row">
        <div class="form-group">
          <label class="control-label col-md-2">Token</label>

          <div class="col-md-10">
            <input class="form-control" type="text" data-ng-model="credentials.token" placeholder="Hipchat API Token">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <button class="btn btn-primary" type="submit" data-ng-click="login()">submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
